* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set the max width of each section */
.wrapper {
	max-width: 1536px;

	margin-inline: auto; /* Center the container */
	padding: 20px 30px;
}

/* Set the element to take 100vh height */
.full-height {
	min-height: 100dvh;
}

/* Shadow styles */
.shadow {
	box-shadow: -5px 5px 8px 0px rgba(0, 0, 0, 0.75);
}

/* Add top margin for every section */
section.wrapper {
	margin-top: 40px;
}

/* Header styles */
header.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(20px);
	border: 1px solid gray;
	margin-top: 20px;
	border-radius: 20px;

	/* Make the header follow vertical scroll */
	position: sticky;
	top: 0;
	width: 100%;
	margin-inline: auto;

	.logo {
		text-transform: uppercase;
		font-style: italic;
	}

	nav ul {
		display: flex;
		gap: 30px;
	}

	/* Remove list style */
	li {
		margin: 0;
		list-style: none;

		font-size: 25px;

		/* Remove anchor tag style */
		a {
			text-decoration: none;
			color: black;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

section#hero {
	min-height: 80vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	gap: 30px;

	background-color: #f5f5f5;
	border: 1px solid gray;
	border-radius: 10px;

	text-align: center;

	.left,
	.right {
		width: 50%;
		padding: 100px 20px;
		/* border: 1px solid green; */
	}

	.left {
		text-align: end;

		.hero-heading {
			font-size: 80px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		.hero-description {
			font-size: 25px;
		}

		.tech-stack {
			margin-top: 30px;
		}
	}

	.right img {
		border: 1px solid black;
		border-radius: 10px;
		/* text-align: center; */
		width: 300px;
		margin-inline: auto;
	}
}

section#about {
	padding: 30px 40px;
	text-align: center;
	border-radius: 10px;

	h2 {
		font-size: 50px;
	}

	.about-description {
		text-align: justify;
		font-size: 30px;
		margin-top: 90px;
		max-width: 90ch;
		border: 1px solid red;
		margin-inline: auto;
		padding: 20px 30px;
		border-radius: 20px;
		line-height: 1.5;
	}
}