* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Set the max width of each section */
.wrapper {
	max-width: 1536px;

	margin-inline: auto; /* Center the container */
	padding: 20px 30px;
}

/* Set the element to take 100vh height */
.full-height {
	min-height: 100dvh;
}

/* Shadow styles */
.shadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.button {
	padding: 5px 10px;
	border-radius: 10px;
}

/* Add top margin for every section */
section.wrapper {
	margin-top: 40px;
}

/* Header styles */
header.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(10px);
	filter: brightness(50%);
	border: 1px solid gray;
	margin-top: 20px;
	border-radius: 20px;

	/* Make the header follow vertical scroll */
	position: sticky;
	top: 0;
	width: 100%;
	margin-inline: auto;

	.logo {
		text-transform: uppercase;
		font-style: italic;
	}

	nav ul {
		display: flex;
		gap: 30px;
	}

	/* Remove list style */
	li {
		margin: 0;
		list-style: none;

		font-size: 25px;

		/* Remove anchor tag style */
		a {
			text-decoration: none;
			color: black;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

section#hero {
	min-height: 80vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	gap: 30px;

	background-color: #f5f5f5;
	border: 1px solid gray;
	border-radius: 10px;

	text-align: center;

	.left,
	.right {
		width: 50%;
		padding: 100px 20px;
		/* border: 1px solid green; */
	}

	.left {
		text-align: end;

		.hero-heading {
			font-size: 80px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		.hero-description {
			font-size: 25px;
		}

		.tech-stack {
			margin-top: 30px;
		}
	}

	.right img {
		border: 1px solid black;
		border-radius: 10px;
		/* text-align: center; */
		width: 300px;
		margin-inline: auto;
	}
}

section#about {
	padding: 30px 40px;
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid gray;
	border-radius: 10px;

	h2 {
		font-size: 50px;
	}

	.about-description {
		text-align: justify;
		font-size: 30px;
		margin-top: 90px;
		max-width: 90ch;
		border: 1px solid red;
		margin-inline: auto;
		padding: 20px 30px;
		border-radius: 20px;
		line-height: 1.5;
		background-color: rgba(191, 191, 191, 0.8);
	}
}

section#projects {
	padding: 30px 40px;
	background-color: #f5f5f5;
	border: 1px solid gray;
	border-radius: 10px;

	h2 {
		font-size: 50px;
		text-align: center;
	}

	.project-container {
		margin-top: 50px;
		grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
		gap: 50px;
		justify-content: center;
	}

	.card {
		border: 2px solid rgba(0, 0, 0, 0.35);
		padding: 10px 20px;
		border-radius: 25px;

		* {
			margin-bottom: 15px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		ul li {
			list-style: none;
			margin: 0;
			margin-right: 5px;
			padding: 5px 10px;
			/* border: 1px solid pink; */
			background-color: #222831;
			color: white;
		}

		button.button {
			margin-right: 10px;
		}
	}
}

section#contact {
	background-color: #f5f5f5;
	border: 1px solid gray;
	border-radius: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		font-size: 50px;
	}

	.contact-container {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		gap: 50px;
	}

	.card {
		/* border: 1px solid navy; */
		background-color: #222831;
		color: white;
		border-radius: 20px;
		padding: 40px 40px;
		text-align: center;

		p {
			font-size: 25px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		button.button {
			margin-top: 20px;
			background-color: #008cba;
			color: white;
			border: none;
			font-size: 18px;
		}
	}
}

footer {
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
	margin-top: 40px;
	min-height: 100px;
	background-color: #222831;
	color: white;
	font-size: 20px;

	a{
		color: inherit;
	}
}

.icon{
	font-size: 50px;
	margin-left: 30px;
}